.center {
  @apply flex items-center justify-center;
}

.scale-enter-from,
.scale-leave-to {
  transform: scale(0.3);
}

.scale-enter-active,
.scale-leave-active {
  transition: all 0.2s;
}

button,
input,
textarea {
  outline: none;
}

button:active,
input:focus {
  outline: none;
}