.scale-enter-from,
.scale-leave-to {
  transform: scale(0.3);
}

.scale-enter-active,
.scale-leave-active {
  transition: all 0.2s;
}

button,
input,
textarea {
  outline: none;
}

button:active,
input:focus {
  outline: none;
}

.capsule {
  @apply flex items-center justify-center border-1 box-border scale-95 rounded-full border-[#ccc] px-2 py-1 text-xs
}

.split {
  @apply m-1 border-[#bbb] border-l-1 py-1.5
}

.center {
  @apply flex items-center justify-center;
}

.linear-bg {
  @apply bg-linear-to-r from-[#00dcc0] to-[#00dc96]
}